.login {
    background-image: url(img/loveofmovies2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background: white;
    border: 2px grey;
    border-radius: var(--border-radius);
    width: 300px;
    padding: 30px;
  }
  
  .login .login-form h1 {
    border-bottom: 1px solid grey;
    color: grey;
    padding-top: 14px;
    text-align: center;
  }
  
  .login .login-form input {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: var(--border-radius);
  }
  
  .login .login-form .username {
    margin-bottom: 20px;
  }
  
  .login .login-form .forgot {
    color: grey;
    font-size: 12px;
    width: 100%;
    text-align: right;
    display: inline-block;
  }
  
  .login .login-form .submit-button {
    margin-bottom: 20px;
    height: 50px;
  }
  